@model Employee
<!DOCTYPE html>
    <html>
    <head>
    <title>Confirmation</title>
    </head>
    <body>
    <div>
        <h2> Employees @Model.EmployeeName saved successfuly</h2>
    </div>
    </body>
    </html>