@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
    <div class="text-center">
        <h1 class="display-4">HR Application</h1>
        <h3> to go the <button type="button" class="btn btn-primary" asp-action="Employees">employees click here</button></h3>
        <h3> View <button type="button" class="btn btn-primary" asp-action="AllEmployees"> All Employees pags </button></h3>
    </div>
</body>
    </html>

